* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aquamarine;
}
.container{
    background-color: white;
    height: 115px;
    width: 370px;
    font-size: 15px;
    border-radius: 20px;
    margin: 20px; /* для себя сделал, чтобы не прилипало к границам страницы */
    font-weight: bold;
    padding: 15px;
}
.widget{
    background-color: #ff7d45;
    height: 60px;
    width: 340px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-top: 10px;
}
.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 6px 4px;
}
.day.active {
    background-color: white;
    border-radius: 15px;
}
.day span {
    background-color: transparent !important;
    color: white;
}
.day.active span {
    color: #444;
}
.day_text{
    font-weight: normal;
    font-size: 14px;
}